#board {

    margin-left: auto;
    margin-right: auto;
    table-layout: relative;
    height: 320px;
    width: 320px;

    text-align: center;
    margin-top: 70px;
    right:30%;
    top:17%;
    float:right;
    position:relative;
    background-color: whitesmoke;
    font-size: x-large;
    color: black;
}

#scoreContainer, #timeContainer {
    text-align: center;
    font-size: 20px;
    border: 3px solid rgb(0, 0, 0);
    background-color: rgba(40, 88, 117, 0.21);

}

#submit, #reset, #start{
    
    position: relative;
    display: inline-block;
    top: 110%;
    right: -125%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: rgba(42, 80, 170, 0.201);
    border:1px solid black;
    padding: 15px 32px;
    font-size: large;

}



#tableContainer, #buttonContainer, #wordContainer{
    display: inline-block;
    width: 33%;
    height: 500px;
    position: relative;
    margin-top: 50px;
}

#buttonContainer {
    float: left;
}

#wordContainer{
    margin: 0;
    bottom:300px;
    right: 8%;
    font-size: 20px;
    border: 3px solid rgb(0, 0, 0);
    background-color: rgba(40, 88, 117, 0.21);
    display: inline-block;
    width: 20%;
    height: 400px;
    position: relative;
    margin-top: 50px;
}
#scoresContainer{
    float:right;
    bottom:756px;
    font-size: 20px;
    border: 3px solid rgb(0, 0, 0);
    background-color: rgba(40, 88, 117, 0.21);
    display: inline-block;
    width: 20%;
    height: 400px;
    position: relative;
    margin-top: 50px;
}
#title{
    font-size:70px;
    position: absolute;
    display: inline-block;
    top: 10%;
    right: 48%;
}
#title,#scoresContainer,#wordContainer,#tableContainer, #buttonContainer, #board{
    
}

